body{font-family: 'Poppins', sans-serif;
    margin: 0;
}
.top-section{
    display: flex;
    background-color: #000000;
    
    
}
.half-width{
    width: 40%;
    padding-left: 15%;

}
.half-width1{
    width: 20%;
    padding-left: 15%;
}
.topimg{
    width: 500px;
    
}
.toppharagraph{
    color: white;
    font-size: 17px;
}
p{
    font-weight: 100;
}

#topname{
    color: #D43030;
}
#hi{
    color: white;
}
h1{
    font-size: 50px;
}

.button1{
    background-color: red;
    padding: 10px 30px;
    color: white;
    font-weight: 700;
    border-radius: 20px;
}

.button1:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(38, 0, 255);
    padding: 10px 30px;
    font-weight: 700;
    border-radius: 20px;
}

.webdigigrap{
    display: flex;
    background-color: #D43030;
    color: white;

}

.webdigigrap img{
    width: 50px;
    position: left;

}
h3{
    font-size: 30px;
}

.threeonewidth{
width: 25%;
padding: 2% 5%;
}

.threeonewidth:hover{
background-color: rgb(75, 74, 74);
}

.successpart{
    display: flex;
}
.webmarclient{
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
}
.middlesection{
    background-color: black;
    color: white;
    
}

.half-width2{
    width: 40%;
    padding: 10%;
    
}
#getstarted{
    padding: 100px 70px 30px 10px;
    text-align: left;
}
.resultinper{
    width: 30%;
    padding-left: 2%;
    text-align: center;
}

.resultinper img{
    width: 150px;
}

.sliderimg{
    background-image: url(images/p1.jpg);
    height: 700px;
}

.lastslide{
    width: 50%;
    padding: 200px 20px 100px 150px;
    color: white;
}